html,
body {
    width:100%;
    height:100%;
    padding:0;
    margin-left:0;
    margin-right:0;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}


a{
    color: #252525;
    text-decoration: none;
}

a:hover, a:focus{
    color: #626262;
    text-decoration: none;
    outline: 0;
}


img {
    -moz-user-select: none;
    /*-webkit-user-select: none;*/
    -ms-user-select: none;
    user-select: none;
    /*-webkit-user-drag: none;*/
    user-drag: none;
}

.valign{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

section{
    position: relative;
}

.container {
    position: relative;
}

section .container{
    padding-top:200px;
    padding-bottom:200px;
}

.row{
    z-index:3;
    position:relative;
}

.separator{
    width:170px;
    max-width:170px;
    margin-top:120px;
    margin-bottom:100px;
}

.lineSeparator{
    width:60px;
    max-width:60px;
    margin-top:30px;
    margin-bottom:30px;
}
.preloaderLogo{
    min-width: 300px;
    max-width: 400px;
    width: 35%;
}



.black-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.sectionIntro h2 span{
    padding:25px 50px;
    border: solid 10px #282828;
}

.sectionIntro p{
    margin-top:100px;
}

#intro .btn-default{
    font-size: 25px;
    width: 300px;
    max-width: 350px;
}

.noscroll{
    overflow:hidden;
}


.container{
    z-index:2;
    overflow:hidden;
}

/*Gallery Grid*/
.gallerypadding{
    padding-top: 20px;
    padding-bottom: 20px;
}

.galleryclose{
    font-size: 50px;
    font-weight: bold;
}

.no-pad{
    padding:0px!important;
    margin:0px!important;
}


.hobby-img{
    width: 100%;
    opacity: 1;
    -webkit-filter: grayscale(0%);
   -webkit-transition: all ease .5s;
   -moz-transition: all ease .5s;
   transition: all ease .5s;
}

.hobby-img:hover{
    opacity: .2;
    -webkit-filter: grayscale(100%);
}

.hobby-link {
   display: block;
   position: relative;
}

.hobby-link .hobby-hover {
   position: absolute;
   width: 100%;
   height: 100%;
    opacity: 1;
   -webkit-transition: all ease .5s;
   -moz-transition: all ease .5s;
   transition: all ease .5s;
}

.hobby-link .hobby-hover:hover {
   opacity: 0;
}

.hobby-link .hobby-hover .hobby-hover-content {
   position: absolute;
   width: 100%;
   height: 20px;
   margin-top: -12px;
    bottom: 15%;
    left: 8%;
   font-size: 20px;
   color: #000;
}

.hobby-link .hobby-hover .hobby-hover-content i {
   margin-top: -12px;
}

.hobby-link .hobby-hover .hobby-hover-content h3,
.hobby-link .hobby-hover .hobby-hover-content h4 {
   margin: 0;
}
/*End Gallery Grid*/

/*parallax letters*/


.parallaxLetter{
    position:absolute;
    font-size:300px;
    color:#F9F9F9;
    z-index:1;
    width: 200px;
    height: 300px;
}


.letter1{
    right:20%;
}

.letter2{
    left:20%;
}

.letter3{
    right:15%;
}

.letter4{
    left:10%;
}



/*buttons*/

.btn{
    background:transparent;
    border-radius:0;
    border:0;
}


.btn-default{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: white;
    padding: 0 40px;
    line-height: 40px;
    letter-spacing: .2em;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    outline: 1px solid transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.btn-default:hover{
    border-color: white;
}

.btn-default:after, .btn-default:before {
    -webkit-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    background: white;
}



.btn-default:before {
    left: -8px;
}

.btn-default:hover:before {
    left: 0;
}

.btn-default:after {
    right: -8px;
}

.btn-default:hover:after {
    right: 0;
}



.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: white;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0;
}

.btn-black{
    color:#282828;
}

.btn-black:after, .btn-black:before {

    background: #282828;
}

.btn-black:hover {
    color: white;
    background-color: #282828;
    border-color: #282828;
}

/*NAVBAR */

.navbar-default {
    padding:30px;
    padding-left:50px;
    padding-right:50px;
    background-color: transparent;
    border-color: transparent;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}
.navbar-default .navbar-brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: transparent;
}

.affix{
    background-color: #282828;
    padding-top:10px;
    padding-bottom:10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: white;
    background-color: transparent;
}

.navbar-nav > li > a {
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    color: #d5d5d5;
    letter-spacing: 3px;
    position: relative;
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color: #323232;
    background-clip: padding-box;
    border: 0;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #d5d5d5;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #282828;
    background-color: #d5d5d5;
}

/*TEXT STYLES*/

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1{
    font-size:35px;
    text-transform: uppercase;
    letter-spacing: 20px;
}

h2{
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

h4{
    font-size:20px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

h5{
    font-size:14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c;
}

p.bold{
    font-weight:700;
}

a.bold{
    font-weight:600;
}



/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Intro -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#intro h1, #intro p{
    color:white;

}

.headerLogo{
    position:relative;
    width:160px;
    bottom: 8px;
    margin-bottom:20px;
}

.introLogo{
    position:relative;
    width:45%;
    margin-bottom:20px;
}

#intro .separator{
    margin-top:30px;
    margin-bottom:30px;
}

#intro a {
    margin-top:20px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Text Separator -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#text-separator .container-fluid .col-md-6{
    padding-left:50px;
}

#text-separator, #text-separator-clients, #text-separator-timers{
    background-color: #8BAEA1;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:15px;
    overflow:hidden;

}

#text-separator-testimonials{
    background-color: #1d1d1d;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:15px;
    overflow:hidden;

}

#text-separator h2,
#text-separator-clients h2,
#text-separator-testimonials h2{
    color:white;
    z-index: 100;
    position: relative;
}

#text-separator p,
#text-separator-clients p,
#text-separator-testimonials p{
    color:#e7e7e7;
    z-index: 100;
    position: relative;
}

.textSepLogo{
    position:absolute;
    right:0;top:0;
    z-index: 1;
}

.timerWrapper{
    color:white;
    padding:20px;
}

.timerWrapper h1{
    letter-spacing:0;
}

.timerWrapper p{
    color: #d5d5d5;
}


/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Welcome Separator -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#welcome-separator{
    background-color:white;
}

#welcome-separator .col-md-7,
#welcome-separator .container-fluid{
    padding:0;
}

#welcome-separator .separator{
    width: 120px;
    max-width: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
}


#welcome-separator .image{
    height:700px;
    overflow:hidden;
}

#welcome-separator .image img{
    height: 100%;
}


.whiteOverlay{
    background: transparent url("../images/gradient.png") bottom right repeat-y;
    bottom: 0;
    height: 700px;
    right: 0;
    position: absolute;
    width: 500px;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index:4
}

.welcomeLogo{
    width:100px;
}

.textOverlay{
    padding-bottom:100px;
    padding-top:100px;
    margin-left:-200px;
    z-index:6;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--About -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#about{
    background-color: white;
}
#about .container{
    padding-top:200px;
}



.aboutIconWrapper{
    position:absolute;
}

.aboutText{
    position:relative;
    padding-left:50px;
}

.aboutIconWrapper{
    font-size:80px;
    color:#f5f5f5;
    z-index:0;

}

.aboutItem{
    margin-top:30px;
    margin-bottom:30px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Accelorator -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#accelorator{
    background-color: white;
}
#accelorator .container{
    padding-top:200px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Online -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#online{
    background-color: white;
}
#online .container{
    padding-top:200px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Network -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#network{
    background-color: white;
}
#network .container{
    padding-top:200px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--mentor -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#mentor{
    background-color: white;
}
#mentor .container{
    padding-top:200px;
}

.progress-bar {
    color: #fff;
    background-color: black;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress {
    height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 3px solid black;
}



/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Portfolio -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/


.portfolioIntro{
    height:300px;
}

.portfolioIntro h2 {
    padding-top:120px;
    margin-top:0;
}

.portfolioIntro h2 span{
    padding:25px 50px;
    border: solid 10px #282828;
}

.portfolioFilters {
    height:150px;
    background-color: #1d1d1d;
}

#filters{
    padding-top:30px;
}

#filters .btn{
    margin:20px;
}


.portfolioIntro{
    position:relative;
    z-index:2;
    background:url('../images/portfolioIntro.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

#portfolio .black-overlay{
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


.gallery {
    max-width: 100%;
}

.gallery-inner .caption{
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.70);
    -webkit-transition: all 1s ease-in-out;

}
.gallery-inner:hover .caption{
    opacity: 1;
}

.gallery-inner .caption-heading {
    width:100%;
    height:120px;
}

.caption-heading .separator{
    width: 100px;
    max-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.caption-heading .btn-default {
    line-height: 30px;
    font-size:10px;
    margin-top:8px;
}

.gallery-inner .caption-heading,
.gallery-inner .caption-heading p{
    color:white;
}

.gallery-inner .caption-heading p{
    font-size:12px;
    font-style:italic;
}

.gallery {
    background: #4c4c4c;
    min-height:500px;
}


/* ---- isotope ---- */
/* clear fix */
.gallery:after {
    content: '';
    display: block;
    clear: both;

}

/* 5 columns, percentage width */
.gallery .gallery-inner,
.gallery .grid-sizer {
    width: 33.333%;/* change here the column width */
}

.gallery .gallery-inner {
    float: left;
    height: auto;
    background: #4c4c4c;
    position: absolute;
    left: 0;
    top: 0;
    margin:0;
}

.galleryImage{
    /*min-width:100%;*/
    width: 100%;
    height: auto;
}



/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    z-index:3000;
    overflow-y: scroll;
}

.overlay-section{
    position: static;
}

/* Effects */
.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}



.overlay-close img{
    cursor:pointer;
}

.overlay-close{
    padding:30px;
}


#singlePageIntro .container{
    padding:100px;
    padding-bottom:30px;
}

#singlePageContent .container{
    padding:10px;
}

#singlePageIntro .separator{
    margin-top:50px;
    margin-bottom:20px;
}

.singleProjectInfo ul{
    padding:20px;
    list-style:none;
    border-left:5px solid #282828;
}

.singleProjectInfo ul li p{
    display:inline;
}

.singleImageWrapper{
    padding-top:60px;
}


.singleImageWrapper .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.singleImageWrapper .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Team -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/


#team-feature {
    background:white;
}

#team-feature .container{
    padding-bottom:0;
}

#team-feature .owl-buttons div {
    padding: 5px 9px;
}

#team-feature .owl-buttons i{
    margin-top: 2px;
}

#team-feature .owl-buttons div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#team-feature .owl-buttons .owl-prev{
    left: 10px;

}

#team-feature .owl-buttons .owl-next{
    right: 10px;
}

#owl-team{
    position:relative;
}

.memberParagraph{
    padding-right:40px;
}

.memberDescription h2{
    letter-spacing:0;
}

.memberDescription .position{
    margin-top:10px;
    margin-bottom:40px;
}

.memberDescription .position span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: uppercase;
    border: solid 1px black;
    padding: 6px;
}

.teamSocial{
    margin-top:20px;
}

.teamSocial a{
    padding:7px;
    font-size:18px;
}

.teamSocial a:first-child{
    padding-left:0px;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!-- Ventures logo -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#text-separator-clients{
    padding-top:110px;
    padding-bottom:110px;
}



#text-separator-clients h3 span{
    padding:25px 50px;
    border: solid 10px white;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color:white;
}


.clientLogo img{
    width:180px;
    margin-top: 15px;
}


/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!-- Overview -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

.serviceBox{
    width:50%;
    height:400px;
    position:relative;
    float:left;
    padding:50px;
    z-index: 2;
}

.serviceBox .separator {
    width: 100px;
    max-width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.serviceBox h2 {
    padding-top:140px;
    margin-top:0;
}

.serviceBox h2 span{
    padding:25px 50px;
    border: solid 10px #282828;
}

.serviceBox i{
    font-size:9em;
}

.introServiceBox{
    position:relative;
    z-index:2;
    background:url('../images/backgroundService.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}


.whiteBox{
    background:white;
}

.blackBox{
    background:#282828;
    color: #fff;
}

.blackBox h2{
    color:white;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Testimonials -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#text-separator-testimonials h3 span{
    padding:25px 50px;
    border: solid 10px white;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color:white;
}
#text-separator-testimonials h3{
    padding-top:100px;
}


.review{
    text-align:center;
    padding:40px;
}


.review p.titulation{
    color:#c8c8c8;
    font-style:italic;
    font-size:10px;
}
.review h4{
    color:#898989;
    letter-spacing:0;
    margin-bottom:0px;
}

.text-separator-title h2{
    padding-top:100px;
}

#text-separator-testimonials img {
    margin: 0 auto;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Pricing Tables -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#pricing{
    background-color:#f4f4f4;
}


.tableWrapper{
    padding:60px;
    border: solid 10px black;
}

.tableWrapper .separator{
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
}

.tableWrapper .subscriptionName h2{
    letter-spacing:0;
}

.subscriptionList ul{
    list-style:none;
    padding:0;
}

.subscriptionPrice{
    padding-bottom:10px;
}


.subscriptionPrice h2{
    letter-spacing:0;
}


.subscriptionPrice h2,
.subscriptionPrice p{
    display:inline;
}


/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Contact -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/


#contact{
    background: white;
}

label{
    width:100%;
}

input:focus, textarea:focus{
    outline:0;
}

label input, textarea{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}

#contact_form #name,
#contact_form #email,
#contact_form #phone{
    height: 50px;
    padding: 10px;
    padding-bottom: 0px;
    border: 0;
    background: transparent;
    border-bottom: 5px solid #282828;
    border-left:5px solid #282828;
    font-size:10px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    letter-spacing:1px;
}

#contact_form #comments {
    height: 200px;
    padding: 10px;
    margin-top:30px;
    padding-bottom: 0;
    border: 0;
    background: transparent;
    border-bottom: 5px solid #282828;
    border-left: 5px solid #282828;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    font-size:10px;
    text-transform:uppercase;
    letter-spacing:1px;
}



.infoContact{
    list-style:none;
    padding:20px;
}


.infoContact li{
    padding-left:20px;
}

.infoContact li .fa{
    margin-right:6px;
    font-size:18px;
}
.infoContact li:first-child{
    margin-left:-27px;
}

#contact p.bold{
    padding-top:30px;
}

.socialContact{
    list-style:none;
    padding:0;
}

.socialContact li{
    display:inline;
}

.socialContact li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #282828;
    color:white;
    font-size: 1.25em;
    -webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}

.socialContact li a:hover {
    background-color: black;

}


#googleMap {
    width: 100%;
    height: 350px;
    overflow: hidden;
}


.topLine{
    background:#282828;
    padding:50px;
}

footer{
    background-color: #fff;
    padding: 20px;
}

footer a{
    color: #8BAEA1;
    font-weight: 700;
}

footer a:hover,a:hover, a:focus, a.active{
    color: rgb(160, 33, 33);
    text-decoration: none;
}

#footer .bottomLine {
    padding: 50px;
    margin: 0 auto;
    background-color: #222222;
}

#footer .bottomLine p{
    color: #a5a5a5;
    font-size:12px;
}

#footer .container{
/*multipage only*/
    padding:0;
}


.footerText{
    color:white;
    padding:10px 40px;;
}

.footerText p{
    color: #a5a5a5
}


/*footer newsletter*/
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.footerText input{
    height: 54px;
    padding-bottom: 3px;
    border: 0;
    background: #393939;
    border-radius:0;
    line-height: 54px;
    font-size: 10px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing:1px;
}

.input-group-addon{
    height: 54px;
    border-radius:0;
    padding-left:16px;
    padding-right:16px;
    padding-bottom: 3px;
    border: 0;
    background: #323232;
    text-transform:uppercase;
    color: white;
    letter-spacing:1px;
}

#footer .infoContact {
    list-style: none;
    padding: 10px;
    color: #a5a5a5
}

#footer .infoContact li .fa {
    margin-right: 6px;
    font-size: 40px;
    position:absolute;
    opacity:0.1;
    left:0;
}

#footer .infoContact li  {
    margin:0;
    padding:0;
    font-size: 12px;
}

.bottomLine .footerSocialIcons {
    padding: 20px;
}
.footerSocialIcons {
    list-style: none;
}

.footerSocialIcons li {
    display: inline;
    margin: 0 10px;
}

.footerSocialIcons li a{
    color: #a5a5a5;
}

.bottomLine p{
    display:inline;
}

.backToTop a{
    color:white;

}


/*countdown*/

#countdown {
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    background-color:transparent;
    border:0;
}

#countdown .countdown-section{
    display: inline-block;
    position: relative;
    width: 25%;
    height: auto;
    min-height: 150px;
    vertical-align: top;
    border-left: 1px solid rgba(255,255,255,0.4);
}


#countdown .countdown-section:first-child{
    border-left: none;
}

#countdown .countdown-amount{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 90px;
    color:white;
    display:block;
}

#countdown .countdown-period{
    font-size:14px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#count{background: #8BAEA1;}
#count h1{color: #fff;}
#count h5{color: #fff;}

#singlePage{
    padding-bottom:100px;
    position:relative;
}

.paginationRow{
    padding:80px 10px;;
}

#result h2{
    letter-spacing:0;
}

iframe{border:0;}



/*/featured works*/

#featured-works, #research{
    background:white;
}

.featureWrapper{
    padding:10px;
}

.featureWrapper .caption-heading{
    padding:10px;
}

#owl-featured .owl-buttons{
    display:inline-block;
}
#owl-featured .owl-prev, .owl-next{
    display:inline-block;}

#owl-featured2 .owl-buttons{
    display:inline-block;
}
#owl-featured2 .owl-prev, .owl-next{
    display:inline-block;}

.featuredNav{

    margin:10px;
    padding:5px 10px;
    background:#282828;
    color:white;
}


/*pages*/

ul, ol {
line-height: 24px;
}



/*BLOG SECTION*/

#blogIntro{
    background:white;
}

#blogIntro .container {
    padding-bottom: 130px;
}

#blogIntro .separator {
    margin-top: 80px;
    margin-bottom: 0px;
}

#blogContent{
    background:white;
}
#blogContent .container {
    padding-top:0;
}




/* ---- isotope ---- */


/* clear fix */
.blogPostsWrapper:after {
    content: '';
    display: block;
    clear: both;
}

.blogPostsWrapper2:after {
    content: '';
    display: block;
    clear: both;
}

/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Apply Info-->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#info h1, #info p{
    color:black;

}

#apply-info{
    background-color: white;
}

#info .separator{
    margin-top:10px;
    margin-bottom:30px;
}

#info .buffer{
    margin-top:200px;
    margin-bottom:200px;
}

#info a {
    margin-top:20px;
}

#info img{
    width:750px;
    height:500px;
}

#info .container{
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.blogPost,
.grid-sizer-blog-3{
    width: 33.33%;
}

.blogPost2,
.grid-sizer-blog-2{
    width: 50%;
}

.blogPost, .blogPost2 {
    float: left;
}


.blogPost, .blogPost2{
    padding:20px;
}

.post-content{
    padding:20px;
    padding-top:10px;
}

.post-date p{
    font-size:90%;
    font-style:italic;
}

.post-info p{
    font-size:90%;
    font-style:italic;
}

.blogSeparator{
    width:35px;
    margin:15px 0;
}

.post-content .btn{
    font-size:10px;
    padding:0px 10px;
    line-height:30px;
    margin-top:20px;
}


.widget ul{
    list-style-type:square;
    padding-left:20px;
}

.widget h4{
    letter-spacing:2px;
}

.widget{
    padding: 10px;
    margin-bottom:20px;
}


.widget ul li{
    color:#282828;
    margin-bottom:10px;
}

.widget ul li a{
    color: #353535;
}


.form-control {
    height: 40px;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

.form-control:focus {
    border-color: #282828;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon {
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    background-color: #282828;
    border: 0;
    border-radius: 0;
    height: 40px;
}

.input-group-addon a{
    color: #fff;
}

.blogPostSeparator {
    width: 60px;
    height: 2px;
    background-color: #282828;
    margin-bottom: 20px;
    margin-top: 15px;
}

.blogPost3{
    padding:30px;
    padding-top:0;
    padding-bottom:0;
}

.blogPost3 .post-content{
    padding-left:0;
}

.blogPost3 .post-thumbnail img{
    width:100%;
}
.blogPost3 {

    margin-bottom:60px;
}

.blogPost3 h2{
    letter-spacing:1px;
}

.blogArticlesSeparator{
    margin-top:0;
}


#owl-blog-single .owl-buttons{
    display:inline-block;
}
#owl-blog-single .owl-prev, .owl-next{
    display:inline-block;}

.blogNav{

    margin:10px;
    padding:5px 10px;
    background:#282828;
    color:white;
}

#owl-blog-single .owl-buttons div {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


#owl-blog-single .owl-buttons .owl-prev{
    left: 10px;

}

#owl-blog-single .owl-buttons .owl-next{
    right: 10px;
}

#owl-blog-single  .owl-controls {
    height: 0;
}

/* Team w/ cbp grid */

#team{
    background:#333;
    padding: 0;
}

#team .container-fluid {
    padding: 0;
}

.team-heading{
    padding: 10px;
}

.cbp-rfgrid {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    width: 100%;
}

.cbp-rfgrid li {
    position: relative;
    float: left;
    overflow: hidden;
    width: 16.6666667%; /* Fallback */
    width: -webkit-calc(100% / 6);
    width: calc(100% / 6);
}


.cbp-rfgrid li img {
    display: block;
    width: 100%;
    cursor: pointer;
}

.cbp-rfgrid li img {
    max-width: 100%;
}

.cbp-rfgrid li img:hover{
    opacity: 0;
}

/* Flexbox is used for centering the heading */
.cbp-rfgrid li div {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(162,83,70,0.6);
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}

.cbp-rfgrid li:hover div {
    opacity: 1;
}

.cbp-rfgrid li div h4 {
    display: block;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 0 10px;
}

.cbp-rfgrid li div p {
    display: block;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: 2px;
    padding: 0 10px;
}

.cbp-rfgrid li div p a {
    color: #fff;
}

/* apply */

.apply, .apply a {
    background: rgb(160, 33, 33);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1.7em;
    height: 200px;
    color: #fff;
}

.apply:hover, .apply:hover a {
    background: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #8BAEA1;
}

.apply-btn{
    padding-top: 35px;
}

/* Donate */

.donate, .donate a {
    background: url('../images/donate-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 1.7em;
    height: 200px;
    color: #fff;
}

.donate:hover, .donate:hover a {
    background: url('../images/donate-bg-hover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #8BAEA1;
}

.donate-btn{
    padding-top: 35px;
}

/* sponsors */

#sponsors{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    overflow: hidden;
}

.sponsorWrapper{
    padding: 20px;
}

.foot-buffer{
    background-color: #8BAEA1;
    padding: 20px;
}

.img-centered {
    margin: 0 auto;
}

/* GSBI Programs */

#programs{
    background-color: #333;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    overflow: hidden;
}

/* Share Section */

.social .holder .container {padding-top:0px;padding-bottom: 0px;}
.social{padding:0;background-color:#d5ddde}
.social .soc-item{width:33%;float:right}
.social .soc-item a{display:block;height:220px;background-color:#d5ddde;background-position:50% 50%;background-repeat:no-repeat;font-size:22px;position:relative;overflow:hidden;text-decoration:none}
.social .soc-item a span{color:#fff;visibility:hidden;position:absolute}
.social .soc-item a span.name{top:25px;left:25px}
.social .soc-item a span.count{bottom:28px;font-size:28px;left:135px;right:0;}
.social .soc-item a span.type{bottom:28px;font-size:28px;left:165px;right:0;}
.social .soc-item a:hover,.social .soc-item a:focus{text-decoration:none;border-bottom:none}
.social .soc-item a:hover span,.social .soc-item a:focus span{visibility:visible}
.social .soc-item.facebook a{background-image:url(../images/fb.png);background-position-y:74px;border-bottom:none;border-top:1px solid rgba(255,255,255,0.2);}
.social .soc-item.facebook a:hover,.social .soc-item.facebook a:focus{background-color:#016bb6;}
.social .soc-item.twitter a{background-image:url(../images/tw.png);background-position-y:84px;border-bottom:none;border-top:1px solid rgba(255,255,255,0.4);}
.social .soc-item.twitter a:hover,.social .soc-item.twitter a:focus{background-color:#08c1e2;}
.social .soc-item.google a{background-image:url(../images/gplus.png);background-position-y:75px;border-bottom:none;border-top:1px solid rgba(255,255,255,0.2);}
.social .soc-item.google a:hover,.social .soc-item.google a:focus{background-color:#d94b34;}
.social .soc-item.linkedin a{background-image:url(../images/link.png);background-position-y:75px;border-bottom:none;border-top:1px solid rgba(255,255,255,0.2);}
.social .soc-item.linkedin a:hover,.social .soc-item.linkedin a:focus{background-color:#007BB5;}
.social .soc-item-holder{overflow:hidden}
.social .soc-item-holder .soc-item{width:50%}

/* SE Preview */

#se-preview{
    background-color: #fff;
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    z-index: 2;
}

.buffer{
    padding-top:40px;
    padding-bottom:40px;
}

.smallbuffer{
    padding-top:5px;
    padding-bottom:5px;
}

.bottombuffer{
    padding-bottom: 60px;
}
/* og grid */

.og-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.og-grid li {
    display: inline-block;
    margin: 10px 5px 0 5px;
    vertical-align: top;
    height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
}

.og-grid li.og-expanded > a::after {
    top: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #ddd;
    border-width: 15px;
    left: 50%;
    margin: -20px 0 0 -15px;
}

.og-expander {
    position: absolute;
    background: #ddd;
    top: auto;
    left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    height: 0;
    overflow: hidden;
}

.og-expander-inner {
    padding: 50px 30px;
    height: 100%;
}

.og-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.og-close::before,
.og-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.og-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
    background: #333;
}

.og-fullimg,
.og-details {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.og-details {
    padding: 0 40px 0 20px;
}

.og-fullimg {
    text-align: center;
}

.og-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

.og-details h3 {
    font-weight: 300;
    font-size: 52px;
    padding: 40px 0 10px;
    margin-bottom: 10px;
}

.og-details p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}

.og-details a {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 3px solid #333;
    display: inline-block;
    margin: 30px 0 0;
    outline: none;
}

.og-details a::before {
    content: '\2192';
    display: inline-block;
    margin-right: 10px;
}

.og-details a:hover {
    border-color: #999;
    color: #999;
}

.og-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    -webkit-animation: loader 0.5s infinite ease-in-out both;
    -moz-animation: loader 0.5s infinite ease-in-out both;
    animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}